[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sh /home/jkl/Documents/pipewire-scripts/monitor_to_speakers.sh
GenericName[en_US]=monitor line-in to speakers regardless of default playback device
GenericName=monitor line-in to speakers regardless of default playback device
Icon=system-run
MimeType=
Name[en_US]=Monitor to Speakers
Name=Monitor to Speakers
Path=/home/jkl/Documents/pipewire-scripts
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
