[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sh /home/jkl/Documents/pipewire-scripts/monitor_line-in.sh
GenericName[en_US]=Monitor Sb Line in over default output device
GenericName=Monitor Sb Line in over default output device
Icon=/home/jkl/Documents/pipewire-scripts/linein.png
MimeType=
Name[en_US]=Monitor to Line In
Name=Monitor to Line In
Path=/home/jkl/Documents/pipewire-scripts
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
